<button (click)="switchVisible()">
  {{visible ? 'Ocultar página':'Mostrar Página'}}
</button>

@if (visible) {
<h1> {{title}} </h1>
<div>
  Total: {{counter}}
</div>
@if (users!= undefined && users.length>0) {
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>@for (user of users; track $index) {
    <tr>
      <td> {{$index+1}} </td>
      <td> {{user}} </td>
    </tr>
    }
  </tbody>
</table>
}@else {
<p>
  No existe registro en el sistema!
</p>
}
}@else {
<h1>
  Lo sentimos la página no se encuentra disponible
</h1>
}

<app-counter [title]="subtitle" (counterEmit)="setCounter($event)">
  
</app-counter>
